@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --grey-grey-50: #656266;
    --font-mid-2: #616161;
    --grey-grey-200: #303030;
    --grey-g-200: #303030;
    --grey-g-100: #B5B5B5;
    --grey-grey-300: #1A1A1A;
    --color-scales-gray-16: #1A1A1A;
    --font-light: #E3E3E3;
    --font-mid-2: #616161;
    --font-dark: #303030;
    --stroke-s-50: #DBDBDB;
    --stroke-s-200: #616161;
    --stroke-s-100: #E1E1E1;
    --font-mid-2: #616161;
    --states-hover: #F1F1F1;
    --states-pressed: #F0F0F0;
    --states-focused: #005BD3;
    --White: #FFF;
    --Background: #F1F1F1;
    --stroke-light-100: rgba(255, 255, 255, 0.20);
}

*:focus-visible,
**:focus-visible {
    outline-offset: 1px;
    outline: 2px solid #005BD3;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* UTILITY CLASSES FOR BUTTONS PRIMARY SECONDARY AND GHOST */

button {
    background: transparent;
    outline: transparent;
    border: none;
}

.btn {
    outline: 0;
    border: 0;
    background: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;


    border-radius: 6px;

    width: 100%;

    outline: 0;
    border: 0;

    cursor: pointer;
    overflow: hidden;

    transition: all 0.3s ease-in-out;
}

.btn:focus-visible {
    outline-offset: 1px;
    outline: 2px solid #005BD3;
}

.transition-duration {
    transition-duration: 300ms;
}

.primary-btn {
    color: var(--font-light);
    border-top: 1.5px solid var(--stroke-light-100);
    border-right: 1.5px solid var(--stroke-light-100);
    border-left: 1.5px solid var(--stroke-light-100);
    background: #404040;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}

.btn.primary-btn:hover {
    background: #2A2A2A;
}

.btn.primary-btn:active {
    background: #2B2B2B;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}


.secondary-btn {
    color: var(--font-dark);
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--White);
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
}

.btn.secondary-btn:hover {
    background: #F7F7F7;
}

.btn.secondary-btn:active {
    background: #F7F7F7;
    box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset;

}

.ghost-btn {
    color: var(--font-dark);
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.btn.ghost-btn:hover {
    background: #E7E7E7;
}

.btn.ghost-btn:active {
    background: #E0E0E0;

}

/* TYPOGRAPHY UTILITY CLASSES  */

.text-12 {
    font-size: 12px;
    font-style: normal;
    line-height: 130%;
    /* 15.6px */
}

.text-13 {
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 18.2px */
}

.text-regular {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-semi-bold {
    font-weight: 600;
}

/* COLOR UTILITY CLASS */
.bg-grey-grey-200 {
    background: var(--grey-grey-200);

}

input,
input::placeholder {
    color: var(--grey-g-100, #B5B5B5);
}


.input-search {
    display: flex;
    width: 100%;
    height: 32px;
    padding: 8px;
    padding-left: 34px;
    align-items: center;
    gap: 6px;
    outline: transparent;

    border-radius: 8px;
    border: 1px solid var(--stroke-s-200);
    background: var(--grey-g-200);
    transition: all 0.3s ease-in-out;
}

.input-search:hover {
    border: 1px solid var(--stroke-s-100);
}

.input-search:active {
    border: 1px solid var(--White);
}

.input-search:focus {
    border: 1px solid var(--White);
}

.icon-btn {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.profile-btn {
    color: var(--font-light);
    display: flex;
    padding: 2px 2px 2px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;

    transition: all 0.3s ease-in-out;
}

.icon-btn:hover,
.profile-btn:hover {
    background: var(--font-mid-2);
}

.icon-btn:active,
.profile-btn:active {
    background: var(--grey-grey-50);
}

.icon-btn:focus-visible,
.profile-btn:focus-visible {
    background: var(--grey-grey-50);
    outline-offset: 1px;
    outline: 2px solid #005BD3;
}

.font-light {
    color: var(--font-light);

}

.avatar {
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    display: flex;
    height: 28px;
    padding: 9px 5px 10px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #36FBA1;
}

.notify-profile-btn {
    /* position: relative; */
    display: flex;
    align-items: center;
    gap: 8px;
}

nav {
    display: flex;
    padding: 12px 16px;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    background: var(--grey-grey-300);
}

.logo .icon {
    display: none;
}

.input-group {
    position: relative;
    max-width: 465px;
    width: 100%;
}

.search-svg {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
    margin-left: 8px;
}

.to-con {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    color: rgb(0 0 0/1);
    padding-bottom: 0.875rem;
    padding-top: 0.875rem;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
    background-color: rgb(255 255 255/1);
    border: 2px solid transparent;
    border-radius: 30px;
    overflow: hidden;
}

.w-auto {
    width: auto;
}

.text-color {
    color: var(--text-color);
}

.profile_dropdown_container {
    position: absolute;
    right: 18px;
    top: 64px;
    display: flex;
    max-width: 320px;
    width: 100%;
    padding: 6px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    border-radius: 14px;
    border: 1px solid var(--stroke-s-50);
    background: var(--White);

    /* Drop Shadow */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.profile_dropdown_container_top {
    padding: 0 6px;
    width: 100%;
}

.profile_dropdown_container_main {
    display: flex;
    padding: 0px 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.profile_dropdown {
    display: flex;
    padding: 4px 12px 4px 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    transition: all 300ms ease-in-out;
}

a.profile_dropdown_menu:hover,
.profile_dropdown:hover {
    background: #F1F1F1;
    border-radius: 8px;
}

.avatar_name_drop {
    display: flex;
    align-items: center;
    gap: 8px;
}

.store_svg_name {
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.profile_dropdown_menu {
    width: 100%;
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    transition: all 300ms ease-in-out;
}

a.profile_dropdown_menu:focus-visible {
    outline-offset: 1px;
    outline: 2px solid #005BD3;
}

a.mail {
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
}

a.mail:hover {
    background: none;
}


a {
    text-decoration: none;
    color: inherit;
}

.hr {
    margin-block: 4px;
    height: 0.75px;
    width: 100%;
    background: #E1E1E1;
}

.information {
    margin-top: 32px;
    display: flex;
    max-width: 800px;
    width: 100%;
    margin-inline: auto ;
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;
    background: var(--grey-grey-300);
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

@media (max-width: 900px) {
    .logo .large {
        display: none;
    }

    .logo .icon {
        display: block;
    }

    .profile-btn .name {
        display: none;
    }

    .profile-btn.bg-grey-grey-200 {
        background: none;
        padding: 0;
    }

    .icon-btn.bg-grey-grey-200 {
        background: none;
    }
}